@font-face {
  font-family: khand-r;
  src: url(../FONT/khand/khand-regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  font-family: khand-r;
  background-image: url(../PICTURES/PHOTOS/IMG_0448.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: large;
}
.navbar .logo {
  padding: 1rem;
  border-radius: 1rem;
}
.navbar .nav-button {
  display: none;
  position: absolute;
  top: 3rem;
  right: 1rem;
  width: 2rem;
}
.navbar .nav-menu .nav-list {
  display: flex;
  align-items: center;
}
.navbar .nav-menu .nav-list .nav-link {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.navbar .nav-menu .nav-list .nav-link.active {
  color: red;
}

.main-container {
  margin: 2rem;
  font-weight: bold;
}
.main-container h1, .main-container h2 {
  display: flex;
  justify-content: center;
}
.main-container .presentation {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .presentation .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 50%;
}
.main-container .presentation .introduction {
  font-size: larger;
}
.main-container .stages, .main-container .hours, .main-container .prices, .main-container .contact, .main-container .location, .main-container .security {
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.main-container .stages .stages-description, .main-container .hours .stages-description, .main-container .prices .stages-description, .main-container .contact .stages-description, .main-container .location .stages-description, .main-container .security .stages-description {
  align-items: flex-start;
}
.main-container .stages .hours-description, .main-container .hours .hours-description, .main-container .prices .hours-description, .main-container .contact .hours-description, .main-container .location .hours-description, .main-container .security .hours-description {
  padding: 1rem;
  font-weight: lighter;
}
.main-container .stages table, .main-container .hours table, .main-container .prices table, .main-container .contact table, .main-container .location table, .main-container .security table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}
.main-container .stages table td, .main-container .hours table td, .main-container .prices table td, .main-container .contact table td, .main-container .location table td, .main-container .security table td {
  border: 1px solid black;
  padding: 0.2rem 1rem;
}
.main-container .contactAndLocation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.main-container .contactAndLocation .contact, .main-container .contactAndLocation .location {
  padding: 1rem;
  width: auto;
}
.main-container .contactAndLocation .contact .contact-option {
  display: flex;
  flex-direction: column;
}
.main-container .contactAndLocation .contact .contact-option div {
  padding: 1rem auto;
}
.main-container .contactAndLocation .contact .contact-option .option-mail {
  flex-direction: column;
}
.main-container .contactAndLocation .contact .contact-option .option-mail .mail-form {
  display: flex;
  flex-direction: column;
}
.main-container .contactAndLocation .contact .contact-option .option-mail .mail-form .form-group {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.main-container .contactAndLocation .contact .contact-option .option-mail .mail-form .form-group .name {
  max-width: 150px;
}
.main-container .contactAndLocation .contact .contact-option .option-mail .mail-form .form-group .email {
  max-width: 250px;
}
.main-container .contactAndLocation .contact .contact-option .option-mail .mail-form .form-group .message {
  max-width: 300px;
  height: 150px;
}
.main-container .contactAndLocation .contact .contact-option .option-mail .mail-form .form-group .send {
  width: 100px;
}
.main-container .contactAndLocation .location .location-description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .security ul li {
  list-style: disc;
  margin: 0 1rem;
  padding: 1rem 0.5rem;
}

footer {
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
}
footer > ul {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
footer > ul > li {
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .navbar .nav-button {
    display: block;
  }
  .navbar .nav-menu {
    position: absolute;
    top: 0;
    margin-left: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar .nav-menu .nav-list {
    font-size: larger;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navbar .nav-menu .nav-list .nav-link {
    padding: 1rem;
  }
  .mobile-navbar {
    background-color: inherit;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  .mobile-navbar .logo {
    display: none;
  }
  .mobile-navbar .mobile-menu {
    margin-left: 0;
  }
  .mobile-main, .mobile-footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */