@font-face {
    font-family: khand-r;
    src: url(../FONT/khand/khand-regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

body {
    font-family: khand-r;
    background-image: url(../PICTURES/PHOTOS/IMG_0448.jpg);
    background-size: cover;
    background-attachment: fixed;
}

// ----- HEADER -----
    .navbar {
        padding: 0 1rem;
        background-color: rgba($color: #ffff, $alpha: 0.6);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: large;
        .logo {
            padding: 1rem;
            border-radius: 1rem;
        }
        .nav-button {
            display: none;
            position: absolute;
            top: 3rem;
            right: 1rem;
            width: 2rem;
        }
        .nav-menu {
            .nav-list {
                display: flex;
                align-items: center;
                .nav-link {
                    padding: 0 1rem;
                    display: flex;
                    justify-content: center;
                    &.active {
                        color: red;
                    }
                }
            }
        }
    }

// ----- MAIN -----

.main-container {
    margin: 2rem;
    font-weight: bold;
    h1, h2{
        display: flex;
        justify-content: center;
    }
    .presentation {
        color: #ffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image-container {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: rgba($color: #ffff, $alpha: 0.4);
                backdrop-filter: blur(1px);
                border-radius: 50%;
            }
        }
        .introduction {
            font-size: larger;
        }
    }
    .stages, .hours, .prices, .contact, .location, .security {
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem 0;
        background-color: rgba($color: #ffff, $alpha: 0.8);
        backdrop-filter: blur(5px);
        .stages-description {
            align-items: flex-start;
        }
        .hours-description {
            padding: 1rem;
            font-weight: lighter;
        }
        table {
            border-collapse: collapse;
            display: flex;
            justify-content: center;
            td {
                border: 1px solid black;
                padding: .2rem 1rem;
            }
        }
    }
    .contactAndLocation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .contact, .location {
            padding: 1rem;
            width: auto;
        }
        .contact {
            .contact-option {
                display: flex;
                flex-direction: column;
                div {
                    padding: 1rem auto;
                }
                .option-mail {
                    flex-direction: column;
                    .mail-form {
                        display: flex;
                        flex-direction: column;
                        .form-group {
                            margin: .5rem 0;
                            display: flex;
                            flex-direction: column;
                            .name {
                                max-width: 150px;
                            }
                            .email {
                                max-width: 250px;
                            }
                            .message {
                                max-width: 300px;
                                height: 150px;
                            }
                            .send {
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
        .location {
            .location-description {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .security ul li {
        list-style: disc;
        margin: 0 1rem;
        padding: 1rem .5rem;
    }
}

// ----- FOOTER -----

footer {
    padding: 0 1rem;
    background-color: rgba($color: #ffff, $alpha: 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    > ul {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        > li {
            margin: 0 auto;
            padding: 1rem;
        } 
    }
   
}

// ----- MEDIA QUERRIES -----
@media screen and (max-width: 800px) {
    .navbar {
        padding: 0;
        display: flex;
        justify-content: space-between;
        .nav-button {
            display: block;
        }
        .nav-menu {
            position: absolute;
            top: 0;
            margin-left: -100%;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: #ffff, $alpha: 0.4);
            backdrop-filter: blur(10px);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease;
            .nav-list {
                font-size: larger;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .nav-link {
                    padding: 1rem;
                }
            }
        }
    }
    .mobile-navbar {
        background-color: inherit;
        backdrop-filter: none;
        .logo {
            display: none;
        }
        .mobile-menu {
            margin-left: 0;
        }
    }
    
    .mobile-main, .mobile-footer {
        display: none;
    }
}

