@font-face {
  font-family: khand-r;
  src: url(../FONT/khand/khand-regular.ttf);
}
@font-face {
  font-family: khand-sb;
  src: url(../FONT/khand/khand-semibold.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

h1,
h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: khand-sb;
  font-style: italic;
  border-bottom: solid 2px black;
  padding-bottom: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  text-shadow: -5px 4px 3px grey;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

body {
  font-family: khand-r;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0 1rem;
  height: 101px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: large;
}
.navbar .logo-link {
  padding: 0;
  height: 95px;
}
.navbar .nav-button {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: 1rem;
  width: 2rem;
  transform: translateY(-50%);
}
.navbar .nav-menu .nav-list {
  display: flex;
  align-items: center;
}
.navbar .nav-menu .nav-list .nav-link {
  padding: 2.1rem 1rem;
  display: flex;
  justify-content: center;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: all ease 0.5s;
}
.navbar .nav-menu .nav-list .nav-link.active {
  color: red;
  border-top: 4px solid red;
}
.navbar .nav-menu .nav-list .nav-link:hover {
  color: red;
  border-top: 4px solid red;
}

main > div {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1rem;
}
main > div > div {
  padding: 1rem;
  margin: 1rem 0;
}

footer {
  position: static;
  z-index: 1;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .footer-info {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
footer .footer-info > li {
  margin: 0 auto;
  padding: 1rem;
}
footer .social-media {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}
footer .social-media_link {
  padding: 0.1rem;
  width: 35px;
  height: 35px;
  right: 1rem;
  border: 2px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
footer .social-media #instagram-link:hover {
  color: white;
  border: transparent;
  background: linear-gradient(49.2deg, #f9ed32 10%, #ee2a7b 55%, #002aff);
}
footer .social-media #facebook-link:hover {
  color: white;
  border: transparent;
  background-color: #1877f2;
}
footer .footer-mentions {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
}
footer .footer-mentions #copyright {
  display: flex;
  justify-content: flex-end;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: inherit;
  -webkit-backdrop-filter: inherit;
  backdrop-filter: inherit;
}
.presentation h1 {
  color: white;
  text-shadow: 5px 4px 3px black;
  margin-bottom: 0;
  z-index: 2;
}
.presentation .image-container {
  background: rgba(255, 255, 255, 0.6);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(120, 111, 111, 0.5) 80%,
    rgba(0, 0, 0, 0.1) 100%
  );
  box-shadow: 0 0 200px 40px grey;
  border-radius: 50%;
  margin-top: 0;
  max-width: 500px;
  max-height: 500px;
}
.presentation .image-container .presentation-logo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
  -webkit-animation: logo-opening 1.5s ease-in-out;
  animation: logo-opening 1.5s ease-in-out;
}
@-webkit-keyframes logo-opening {
  0% {
    transform: scale(0);
  }
  66% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.3);
  }
}
@keyframes logo-opening {
  0% {
    transform: scale(0);
  }
  66% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.3);
  }
}
.presentation .introduction {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 5px 10px 10px 2px grey;
  margin: 1rem;
  padding: 1rem;
  color: black;
  font-size: larger;
  border-radius: 1rem;
}
.presentation .introduction-item {
  margin: 1rem;
  list-style: disc;
  text-align: justify;
  text-justify: inter-word;
}

.swiper-container {
  position: relative;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}
.swiper-container .swiper {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: flex;
  align-items: center;
}
.swiper-container .swiper .swiper-slide {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.swiper-container .swiper .swiper-slide img {
  border-radius: 1rem;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 400px;
}

.park-container .park-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.park-container .park-description_item {
  padding: 1rem;
  font-size: larger;
  text-align: justify;
  text-justify: inter-word;
}
.park-container .stage-container .stage:nth-child(1) {
  background-color: green;
}
.park-container .stage-container .stage:nth-child(2) {
  color: black;
  background-color: cyan;
}
.park-container .stage-container .stage:nth-child(3) {
  background-color: red;
}
.park-container .stage-container .stage:nth-child(4) {
  background-color: purple;
}
.park-container .stage-container .stage:nth-child(5) {
  color: black;
  background-color: white;
}
.park-container .stage-container .stage {
  box-shadow: 5px 10px 10px 2px grey;
  color: white;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.park-container .stage-container .stage .stage-informations {
  margin: 0 1rem;
  display: flex;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
}
.park-container .stage-container .stage .stage-informations .stage-description {
  margin-right: auto;
}
.park-container .stage-container .stage .stage-informations .stage-description li {
  padding: 0.5rem 0;
  list-style: disc;
}
.park-container .park-stage_map {
  display: flex;
  justify-content: center;
}
.park-container .park-stage_map img {
  max-width: 600px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
}

.menu-container > .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  > img {
    width: 80vw;
  }
}

.gallery-container .gallery {
  margin: 1rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.gallery-container .gallery .gallery-card {
  cursor: pointer;
  border-radius: 4px;
  width: 20%;
  max-width: 120px;
  margin: 1rem;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.gallery-container .gallery .gallery-card_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.gallery-container .gallery .gallery-card:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* The Modal (background) */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: -1px;
  -webkit-animation: zoom 0.3s ease-in-out;
  animation: zoom 0.3s ease-in-out;
}
.modal img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 80%;
  -o-object-fit: contain;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
.modal .closeBtn {
  color: rgba(255, 255, 255, 0.87);
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.modal .closeBtn:hover {
  color: rgb(255, 255, 255);
}
.modal .prevBtn {
  position: absolute;
  top: 50%;
  left: 1rem;
  color: white;
  font-size: xx-large;
}
.modal .nextBtn {
  position: absolute;
  top: 50%;
  right: 1rem;
  color: white;
  font-size: xx-large;
}

@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.google-link {
  color: red;
  > a {
    font-size: larger;
  }
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hours .hours-description {
  padding: 1rem;
  font-weight: lighter;
  font-size: larger;
}

.prices {
  padding: 2rem;
}
.prices table {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.prices table td {
  box-shadow: 5px 10px 10px 2px grey;
  background-color: white;
  border: 1px solid black;
  padding: 0.2rem 1rem;
}

.contactAndLocation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contactAndLocation .contact,
.contactAndLocation .location {
  padding: 1rem;
  width: auto;
}
.contactAndLocation .contact-options {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactAndLocation .contact-options .contact-option {
  padding: 1rem 0;
}
.contactAndLocation .contact-options .contact-option a {
  font-size: x-large;
  margin: 1rem;
  color: red;
}
.contactAndLocation .location .location-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactAndLocation .location .location-description p {
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactAndLocation .location .location-description .map {
  width: 100%;
}
@media screen and (min-width: 610px) {
  .contactAndLocation .location .location-description .map-m {
    display: flex;
  }
  .contactAndLocation .location .location-description .map-s,
  .contactAndLocation .location .location-description .map-xs {
    display: none;
  }
}
@media screen and (max-width: 609px) and (min-width: 410px) {
  .contactAndLocation .location .location-description .map-s {
    display: flex;
  }
  .contactAndLocation .location .location-description .map-m,
  .contactAndLocation .location .location-description .map-xs {
    display: none;
  }
}
@media screen and (max-width: 409px) {
  .contactAndLocation .location .location-description .map-xs {
    display: flex;
  }
  .contactAndLocation .location .location-description .map-m,
  .contactAndLocation .location .location-description .map-s {
    display: none;
  }
}

.security ul li {
  list-style: disc;
  margin: 0 1rem;
  padding: 1rem 0.5rem;
  text-align: justify;
  text-justify: inter-word;
}
.security .rules-link {
  color: red;
  width: 100%;
  padding-top: 2rem;
  display: block;
  -webkit-text-decoration: underline red;
  text-decoration: underline red;
  text-align: center;
  font-style: italic;
  line-break: auto;
}
.security .rules-link i {
  color: red;
  width: 100%;
  height: 100%;
}

.mentions-container .mentions-item {
  text-align: justify;
}
.mentions-container .mentions-item h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: khand-sb;
  font-style: italic;
  border-bottom: solid 2px black;
  padding-bottom: 0;
  margin: 1rem 0.5rem;
  display: flex;
}
.mentions-container .mentions-item ul {
  padding: 0.5rem 1rem;
}
.mentions-container .mentions-item ul li {
  list-style: disc;
}

@media only screen and (min-width: 980px) {
  .swiper-container img {
    width: 400px;
    height: auto;
  }
  .stage-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .stage-container .stage:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }
  .stage-container .stage:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1;
  }
  .stage-container .stage:nth-child(3) {
    grid-column: 5/7;
    grid-row: 1;
  }
  .stage-container .stage:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2;
  }
  .stage-container .stage:nth-child(5) {
    grid-column: 4/6;
    grid-row: 2;
  }
}
@media only screen and (min-width: 700px) and (max-width: 979px) {
  .swiper-container img {
    width: 70%;
    height: auto;
  }
}
@media only screen and (min-width: 550px) and (max-width: 979px) {
  .stage-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .stage-container .stage:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }
  .stage-container .stage:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1;
  }
  .stage-container .stage:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2;
  }
  .stage-container .stage:nth-child(4) {
    grid-column: 3/5;
    grid-row: 2;
  }
  .stage-container .stage:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
  .swiper-container img {
    width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 549px) {
  .swiper-container img {
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .navbar .nav-button {
    display: block;
  }
  .navbar .nav-button:hover {
    color: red;
  }
  .navbar .nav-menu {
    position: absolute;
    top: 101px;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 3rem 0;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    justify-content: space-around;
    z-index: 0;
    transform: translateX(-1);
    transition: all 0.5s ease;
  }
  .navbar .nav-menu .nav-list {
    font-size: larger;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navbar .nav-menu .nav-list .nav-link,
  .navbar .nav-menu .nav-list .nav-link.active,
  .navbar .nav-menu .nav-list .nav-link:hover {
    padding: 1rem;
    border: none;
  }
  .mobile-navbar .logo {
    position: fixed;
  }
  .mobile-menu {
    z-index: 3;
    margin-left: 100%;
  }
  .mobile-menu_button {
    top: 3.1rem;
  }
  .mobile-main,
  .mobile-footer {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .mobile-main .mobile-swiper_container,
  .mobile-footer .mobile-swiper_container {
    display: none;
  }
  .park-stage_map:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }
  .social-media_link {
    display: flex;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 700px) {
  .main {
    margin: 0;
  }
  .main .presentation,
  .main .swiper-container,
  .main .park-container,
  .main .gallery-container,
  .main .hours,
  .main .prices,
  .main .contactAndLocation,
  .main .security-container,
  .main .mentions {
    border-radius: 0;
    margin: 1rem 0;
    padding: 0.5rem;
  }
  .main .presentation .image-container,
  .main .swiper-container .image-container,
  .main .park-container .image-container,
  .main .gallery-container .image-container,
  .main .hours .image-container,
  .main .prices .image-container,
  .main .contactAndLocation .image-container,
  .main .security-container .image-container,
  .main .mentions .image-container {
    width: 70%;
  }
} /*# sourceMappingURL=style.css.map */
